
/* Header */
nav {
    display: block;
    text-align: center;
}

.nav {
    padding-left: 0;
    list-style: none;
}

.navbar {
    position: relative;
    padding: 0;
    margin-bottom: 0px !important;
}

.bg-dark {
    background-color: #1B1C1D !important;
}

.nav-link {
    background-color: #1B1C1D !important;
    color: #fffff4 !important;
}

.nav-link-active {
    background-color: #1B1C1D !important;
    color: lightblue !important;
    text-shadow: 0 0 10px white, 0 5px 10px lightblue;
}

.nav-link:hover {
    background-color: #eee !important;
    color: #1B1C1D !important;
}

ul {
    margin-top: 0;
    display: inline-block;
    text-align: center;
    position: relative;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

/* Opening */
.opening-banner {
    background-image:  url(../images/landingbackground.png);
    background-position: center center no-repeat fixed;
    height: 100vh;
    position: relative;
    text-align: center;
    background-size: cover !important;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
}

.opening-banner > div {
    padding-top: 40vh;
}

.opening-header {
    text-align: center;
    font-size: 56px;
    color: whitesmoke !important;
    border-bottom: none !important;
}

.opening-sub {
    text-align: center;
    font-size: 35px;
    color: lightgrey !important;
    border-bottom: none !important;
}

.opening-icon {
    text-align: center;
    font-size: 56px;
    border-bottom: none !important;
    padding-left: 2vh;
    padding-right: 2vh;
}

/* About */
.about-banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/aboutbackground.png);
    background-position: center center no-repeat fixed;
    height: 100vh;
    position: relative;
    background-size: cover !important;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
}

h1 {
    text-align: right;
    color: white !important;
    border-bottom: 1.5px solid #eee;
}

p {
    color: white;
    margin-top: 0;
    margin-bottom: 1rem;
}

/* portfolio */
.portfolio-banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/portfoliobackground.png);
    background-position: center center no-repeat fixed;
    height: 100vh;
    position: relative;
    background-size: cover !important;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
}

h2 {
    text-align: center;
    color: white !important;
    border-bottom: 1.5px solid #eee;
}

/* Icon Styles */
a > #mail-icon, a > #in-icon, a > #resume-icon, a > #git-icon, a > #phone-icon  {
    color: lightgrey;
}

a > #mail-icon:hover, a > #in-icon:hover, a > #resume-icon:hover, a > #git-icon:hover, a > #phone-icon:hover  {
    color: darkgrey;
}

b {
    color: lightgrey;
}

b:hover {
    color: darkgrey;
}

/* Image Styles */
.portrait {
    border-radius: 100%;
    overflow: hidden;
    display: block;
    width: 100%;
}

/* Dropdown Button */
.dropbtn {
    background-color: transparent;
    color: whitesmoke !important;
    font-size: 20px;
    border: lightblue;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    color: darkgrey;
}

#myInput {
    border-box: box-sizing;
    background-image: url('searchicon.png');
    background-position: 14px 12px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 230px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {
    background-color: #ddd;
    cursor: pointer;
}

.show {
    display:block;
}
