html {
    background: whitesmoke;
}

.padded {
    padding-top: 5%;
    padding-bottom: 5%;
}

span.badge.pull-left {
    margin-right: 0%;
}

body {
    background: whitesmoke;
    background-position: center center;
    background-size: cover;
    height: 100%;
    position: absolute;
    width: 100%;
}

#container-lg {
    background: whitesmoke;
    background-position: center center;
    background-size: cover;
    height: 100%;
    position: absolute;
    width: 100%;
}

#contianer-sm {
    background: whitesmoke;
    background-position: center center;
    background-size: cover;
    height: 100%;
    position: absolute;
    width: 100%; 
}

.btn-group-vertical {
    width: 100%;
}

.side {
    position: fixed;
    z-index: 1;
}

.left {
    padding-left: 50px;
}

.right {
    padding-right: 50px;
}

.portrait {
    margin: 0px auto 0px;
    width: 150px;
}

.hidden {
    visibility: false;
}

.transform {
    -webkit-transition: all 0.5s ease;  
    -moz-transition: all 0.5s ease;  
    -o-transition: all 0.5s ease;  
    -ms-transition: all 0.5s ease;  
    transition: all 0.5s ease;
}

.half-text {
    color: grey;
    font-size: 18px;
}

b {
    color: black;
}

.img-small {
    width: 50px !important;
}

table {
    border: 0px;
    width: 100%;
}

td {
    text-align: center;
}

a {
    text-decoration: none !important; 
}

a:hover{
    color: lightgrey !important;
    text-decoration: none;    
}

a:visited{
    opacity: 0.5;
    text-decoration: none;    
}

a>.img-thumbnail:hover{
    opacity: 0.5;
}

.faded {
    opacity: 0.5 !important;
}

.dropdown-toggle, .dropdown-menu {
    width: 100%;
}

.text-small {
    font-size: 12px;
}

.row{
    margin: 0;
}

.min-height {
    min-height: 400px;
}